.image-card {
  max-width: 85%;
  margin: 10px auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.image-card img {
  display: block;
  width: 100%;
  height: auto;
}

.image-text {
  padding: 10px;
  background-color: #1d1f20;
  text-align: center; /* Center the text */
}

.image-text p {
  margin: 0;
  color: #c8c3bc;
  font-size: 11px;
  line-height: 1.1;
  font-style: italic; /* Make the text italic */
}
